<mat-dialog-content class="mat-typography">

  <label for="file-input">
    <img class="imageInc" crossorigin="anonymous" (click)="photoInput.click()" [src]="canvasUrl || imageIncPath">
    <ng-template #uploadPhoto>
      <img class="imageInc" crossorigin="anonymous" [src]="canvasUrl || 'assets/image.png' " (click)="photoInput.click()"/>
    </ng-template>
  </label>  
  <input type="file" style="display:none" (change)="onPhotoSelected($event)" #photoInput/>
  
  <div class="buttons">
    <div>
      <button mat-button [mat-dialog-close]="true">Back</button>
      <button mat-button mat-dialog-close (click)="insertImageInc()" >Insert</button>
    </div>
    <button mat-button mat-dialog-close (click)="removeImage()" *ngIf="showAround.ImageIncPath">Remove</button>
  </div>
  
</mat-dialog-content>
